<H1>Graficas de Barras</H1>
<hr>

<div class="row">
    <div class="col">
        <div style="display: block">
            <canvas baseChart class="chart"
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>
        
            <button class="btn btn-primary float-end" (click)="randomize()">
                Actualizar
            </button>
       
    </div>
</div>

